- const emptyFillerLong = '_________________________'
- const emptyFiller = '_______'
- const CITY = contractFields['city'] || emptyFillerLong
- const DAY = contractFields['day'] || emptyFiller
- const MONTH = contractFields['month'] || emptyFillerLong
- const YEAR = new Date().getFullYear()
- const NAME = contractFields['full name'] || emptyFillerLong
- const DESCRIPTION = contractFields['description'] || emptyFillerLong
- const SOCIAL_NUMBER = contractFields['social number'] || emptyFillerLong
- const PRICE = contractFields['price'] || emptyFiller
- const PRICE_ESTIMATED = contractFields['price estimated'] || emptyFiller
- const PDFO = contractFields['pdfo'] || emptyFiller
- const MILITARY = contractFields['military'] || emptyFiller
- const PRODUCT_NAME = contractFields['product name'] || emptyFillerLong
- const PRODUCT_IMEI = contractFields['product imei'] || emptyFillerLong
- const PASSPORT_SERIA = contractFields['passport seria'] || emptyFiller
- const PASSPORT_NUMBER = contractFields['passport number'] || emptyFillerLong
- const PASSPORT_GIVEN_BY = contractFields['passport given by'] || emptyFillerLong
- const PASSPORT_GIVEN_DATE = contractFields['passport given date'] || emptyFillerLong
- const ADDRESS = contractFields['address'] || emptyFillerLong
- const PHONE = contractFields['phone'] || emptyFillerLong
style
  include ../.tmp/public/styles/contract.css

body.pdf-body
  each val, key in texts
    -
      const replacedVal = val
        .replace(/{CITY}/g, CITY)
        .replace(/{DAY}/g, DAY)
        .replace(/{MONTH}/g, MONTH)
        .replace(/{YEAR}/g, YEAR)
        .replace(/{NAME}/g, NAME)
        .replace(/{DESCRIPTION}/g, DESCRIPTION)
        .replace(/{SOCIAL_NUMBER}/g, SOCIAL_NUMBER)
        .replace(/{PRICE}/g, PRICE)
        .replace(/{PRICE_ESTIMATED}/g, PRICE_ESTIMATED)
        .replace(/{PDFO}/g, PDFO)
        .replace(/{MILITARY}/g, MILITARY)
        .replace(/{PRODUCT_NAME}/g, PRODUCT_NAME)
        .replace(/{PRODUCT_IMEI}/g, PRODUCT_IMEI)
        .replace(/{PASSPORT_SERIA}/g, PASSPORT_SERIA)
        .replace(/{PASSPORT_NUMBER}/g, PASSPORT_NUMBER)
        .replace(/{PASSPORT_GIVEN_BY}/g, PASSPORT_GIVEN_BY)
        .replace(/{PASSPORT_GIVEN_DATE}/g, PASSPORT_GIVEN_DATE)
        .replace(/{ADDRESS}/g, ADDRESS)
        .replace(/{PHONE}/g, PHONE)
    div.text-block(id=key)!= replacedVal
