// Custom global backgrounds
$bg-body:#fff;
$bg-body-img:url('../../images/bg-img.jpg')50% 50% no-repeat;
$bg-header:#00c853;
// Default global colors;

//buttons
$btn-bg:none;
$btn-border:2px solid #f7323f;
$btn-color:#f7323f;
$btn-border-radius:25px;
$btn-fontsize:14px;

$btn-width:220px;
$btn-height:50px;
//wide-buttons
$btn-wide-width:230px;
$btn-wide-height:50px;
//borders
$border-semilight:#f2f2f2;
//pagination-bullet
$pag-wide:5px;
$pag-height:5px;
$pag-active-wide:9px;
$pag--active-height:9px;
$pag-bg:#fff;

//sidebar
$sidebar-bg:#f7323f;
$sidebar-color:#fff;
// Widths
$minWidth: 320px;

//input-focus
$inputfocus:#5ecfdd;
// Fonts
$familym: 'proxima_nova';
$fzm: 16px;
$lhm: 16px;

$family:'museo_sans';
$fz: 16px;
$lh: 1;
//url
$imgurl : '../../images';
$fonturl:'../../fonts/';