<script type="text/javascript">Window.baseUrlHead = "#{helper.getBaseUrl()}";</script>
<script type="text/javascript" src="#{helper.getBaseUrl()}/js/api/widget.js"></script>
<div id="ts_calc"></div>
<script type="text/javascript">TS.Widgets.Calculator("ts_calc", "#{widget.uniqueId}");</script>
