#edit-coeff.modal.fade
  .modal-dialog(role='document')
    .modal-content
      form(method='POST', action='/product/coeff', id="coeff-set")
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label=__('Close'))
            span(aria-hidden='true') ×
          h4.modal-title= __('Edit Coefficient')
        .modal-body
          .form-group
            label= __('Enter value')
            input.form-control(type='number', name="productPrice", required=true, value = helper.getPriceCoeff())
        .modal-footer
          button.btn.btn-default.btn-metro(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.btn-metro(type='submit') Edit
