module.exports = {

  port: process.env.PORT || 1337,
  environment: process.env.NODE_ENV || 'development',
  environment: process.env.NODE_ENV || 'development',

  connections: {
    mongo: {
      adapter: 'sails-mongo',
      host: 'localhost',
      port: 27017,
      database: 'tehnostok-calculator'
    }
  },

  session: {
    adapter: 'mongo',
    host: 'localhost',
    port: 27017,
    db: 'tehnostok-calculator',
    collection: 'sessions'
  },

  proxyHost: 'localhost',
  proxyPort: 1337,
  proxyProtocol: 'http',

  partnerRozetka: {
    // ID партнера "Розетка" изколлекции partner
    id: '',
    citiesUrl: 'http://seller.rozetka.com.ua/api/locality',
    departmentsUrl: 'http://seller.rozetka.com.ua/api/warehouse',
    postUrl: 'http://seller.rozetka.com.ua/cart/',
    // это адрес содержит основны данные по заявке
    getOrderUrl: 'http://seller.rozetka.com.ua/api/order',
    // этот сервис специально разработан для нашего калькулятора
    // содержит сведения только по цене и статусу заявки
    orderUrl: 'http://seller.rozetka.com.ua/api/tehnostock/purchase',
    // доступ к сервисам Розетки
    user: '',
    password: '',
    cities: {
      'Балаклея': 3853,
      'Белая Церковь': 5053,
      'Вышгород': 465,
      'Каменское': 16578,
      'Константиновка': 19810,
      'Краматорск': 95,
      'Кременчуг': 54,
      'Кривой Рог': 15068,
      'Марганец': 311,
      'Мелитополь': 60,
      'Мукачево': 96,
      'Новомосковск': 330,
      'Павлоград': 16534,
      'Ромны': 532,
      'Северодонецк': 83,
      'Синельниково': 16302,
      'Смела': 23817,
      'Сумы': 44,
      'Токмак': 400,
      'Ужгород': 46,
      'Червоноград': 119,
      'Черноморск': 133,
      'Энергодар': 131,
      "Бережани": 17175,
      "Борислав": 28045,
      "Бориспіль": 137,
      "Бровари": 451,
      "Броди": 26676,
      "Бучач": 180,
      "Володимир-Волинський": 106,
      "Волочиськ": 195,
      "Дрогобич": 104,
      "Дубно": 28363,
      "Дубно": 29047,
      "Жмеринка": 238,
      "Здолбунів": 245,
      "Знам'янка": 23087,
      "Золочів": 251,
      "Калуш": 98,
      "Кам’янець-Подільський": 74,
      "Кам'янець-Подільський": 74,
      "Камʼянець-Подільський": 74,
      "Кіровоград": 37,
      "Кропивницький": 37,
      "Ковель": 109,
      "Коломия": 65,
      "Костопіль": 280,
      "Луцьк": 39,
      "Могилів-Подільський": 68,
      "Надвірна": 317,
      "Нетішин": 320,
      "Нетішин": 320,
      "Ніжин": 108,
      "Нововолинськ": 59,
      "Новоград-Волинський": 81,
      "Новояворівськ": 334,
      "Обухів": 5215,
      "Переяслав-Хмельницький": 124,
      "Рівне": 29166,
      "Самбір": 376,
      "Славутич": 385,
      "Старокостянтинів": 391,
      "Стрий": 88,
      "Фастів": 547,
      "Чоп": 9543,
      "Чортків": 420,
      "Тарасівка Києво-Святошинського райну	Київська область":0, // уточнить идентификатор у Розетки
      "Алчевськ": 71,
      "Антрацит": 146,
      "Апостолове": 147,
      "Артемівськ": 19969,  // это Бахмут
      "Бахмут": 19969,
      "Баштанка": 156,
      "Бердянськ": 118,
      "Берислав": 166,
      "Білгород-Дністровський": 157,
      "Білозерка": 11714,
      "Богодухів": 445,
      "Болград": 170,
      "Василівка":0, // уточнить какая
      "Вільнянськ": 198,
      "Вознесенськ": 191,
      "Генічеськ": 204,
      "Гола Пристань": 207,
      "Горішні Плавні": 2305,
      "Гуляйполе": 11387,
      // "Дніпродзержинськ": 0,  Каменское
      // "Дніпропетровськ":0, Днепр
      "Дніпрорудне": 223,
      "Золотоноша": 250,
      "Ізмаїл": 125,
      "Ізюм": 130,
      // "Іллічівськ":0, Черноморск
      "Чорноморськ": 133,
      "Кам'янка-Дніпровська": 259,
      "Камʼянка-Дніпровська": 259,
      "Каховка": 12093,
      "Кіровськ": 266,
      "Конотоп": 21692,
      "Краснодон": 284,
      "Лисичанськ": 128,
      "Лубни": 115,
      "Маріуполь": 20548,
      "Миргород": 93,
      "Молодогвардійськ": 29638,
      "Нікополь": 16045,
      "Нова Каховка": 80,
      "Нова Одеса": 323,
      // "Орджонікідзе":0, Покров
      "Покров": 16553,
      "Оріхів": 342,
      "Очаків": 345,
      "Первомайськ": 129, // Николавевская
      "Пісочин": 2761,
      "Подільськ": 76, // Котовск
      "Котовск": 76, // Котовск у Розетки осталось старое наименование
      "Покровськ": 20303,
      "Пологи": 11293,
      "Рені": 368,
      "Ровеньки": 30082,
      "Свалява": 629,
      "Свердловськ": 102,
      "Світловодськ": 379,
      "Скадовськ": 383,
      "Слов'янськ": 84,
      "Словʼянськ": 84,
      "Старобільськ": 86,
      "Стаханов": 87,
      "Хорол": 1449,
      "Циркуни": 2964,
      "Цюрупинськ": 414,
      "Олешки": 414,
      "Чугуїв": 550,
      "Ювілейне": 29464,
      "Южне": 430,
      "Южноукраїнськ": 63,
      "Первомайськ": 129,
      "Якимівка": 10900, // есть еще 11013
      "Куйбишеве": 10987, // есть еще 11203
      "Більмак":10987, // бывшее Куйбишеве или 11203
      "Михайлівка": 10852,
      "Антонівка": 9854,
      "Перевальськ": 348,
      "Охтирка": 139,
    },
  },

  showTv: true,

  //ssl: {
  //  ca: require('fs').readFileSync(require('path').resolve(__dirname,'../../ssl/rootCA.pem')),
  //  key: require('fs').readFileSync(require('path').resolve(__dirname,'../../ssl/device.key')),
  //  cert: require('fs').readFileSync(require('path').resolve(__dirname,'../../ssl/device.crt'))
  //}

};
