doctype html
html.body-full-height
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/animate.min.css")
    link(rel="stylesheet", href="/styles/atlant.css")
    link(rel="stylesheet", href="/styles/main.css")
  body
    include ../partials/flash
    block body
    script(src="/js/jquery-2.2.0.js")
    script(src="/js/noty/jquery.noty.js")
    script(src="/js/noty/layouts/bottom.js")
    script(src="/js/noty/layouts/bottomCenter.js")
    script(src="/js/noty/layouts/bottomLeft.js")
    script(src="/js/noty/layouts/bottomRight.js")
    script(src="/js/noty/layouts/center.js")
    script(src="/js/noty/layouts/centerLeft.js")
    script(src="/js/noty/layouts/centerRight.js")
    script(src="/js/noty/layouts/inline.js")
    script(src="/js/noty/layouts/top.js")
    script(src="/js/noty/layouts/topCenter.js")
    script(src="/js/noty/layouts/topLeft.js")
    script(src="/js/noty/layouts/topRight.js")
    script(src="/js/noty/themes/default.js")
    script(src="/js/jquery.validate.js")
    script(src="/js/lodash.js")
    script(src="/js/q/form.js")
    script(src="/js/app.js")