doctype html
html.body-full-height
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="_csrf",content="#{_csrf}")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/widget.css")
  body
    block body
    block script
    script(src="/js/api/xdm.js")
    script(src="/js/api/widgets/calculator.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/js/handlebars.js")
    script(src="/js/typeahead.js")
    script(src="/js/widget.js")
    block script2